.data-binding-container {
}
.highlight {
  color: blueviolet;
  font-weight: bold;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 20px;
}



.form-class {
  margin-left: 20px;
  margin-top: 10px;
}

.name-span {
  font-weight: bold;
}
